# General
.DS_Store
Thumb.db
*.log

# Editors
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln

# Dependency directories
node_modules/
jspm_packages/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
*.pot
*.pyc

# Django specifics
db.sqlite3
media/
staticfiles/
*.sqlite3

# JS / Frontend
dist/
dist-ssr/
build/
.output/
.vercel/
*.local

# Environment variables
.env
.env.*
!.env.example
