# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so



# Django
*.sqlite3
*.log
*.pot
*.pyc

# Virtual environment
venv/
.env/
ENV/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations (optional — uncomment if you regenerate them often)
# */migrations/
# !*/migrations/__init__.py

# Heroku/PaaS
*.env
Procfile

# Compiled files
*.egg-info/
*.egg
dist/
build/

# pip files
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
.nox/
