Django==3.2.*
django-cors-headers>=4.0.0
djangorestframework>=3.14.0
gunicorn>=21.0.0
whitenoise>=6.5.0
python-decouple>=3.8
numpy>=2.3.2
channels>=4.0.0
daphne>=4.0.0
djongo>=1.3.6
pymongo==3.11.4 # Pin pymongo to a compatible version
sqlparse==0.2.4
